-- Auto-generated Schema for DrawSQL --


CREATE TABLE course (
	id SERIAL NOT NULL, 
	code VARCHAR(20) NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	level INTEGER NOT NULL, 
	semester INTEGER NOT NULL, 
	credits INTEGER NOT NULL, 
	weight INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (code)
)

;


CREATE TABLE email_verification (
	id SERIAL NOT NULL, 
	email VARCHAR(120) NOT NULL, 
	otp_code VARCHAR(6) NOT NULL, 
	expires_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
	is_used BOOLEAN, 
	PRIMARY KEY (id)
)

;


CREATE TABLE study_knowledge (
	id SERIAL NOT NULL, 
	principle VARCHAR(100) NOT NULL, 
	rule_logic VARCHAR(200), 
	content TEXT NOT NULL, 
	inference_trigger VARCHAR(50), 
	academic_source VARCHAR(100), 
	tags VARCHAR(100), 
	PRIMARY KEY (id)
)

;


CREATE TABLE "user" (
	id SERIAL NOT NULL, 
	email VARCHAR(120) NOT NULL, 
	username VARCHAR(80) NOT NULL, 
	phone VARCHAR(20), 
	level INTEGER NOT NULL, 
	hashed_password VARCHAR(200) NOT NULL, 
	role VARCHAR(20), 
	staff_id VARCHAR(50), 
	learning_style VARCHAR(20), 
	peak_time VARCHAR(20), 
	base_template VARCHAR(50), 
	zone_duration INTEGER, 
	environment_pref VARCHAR(50), 
	study_social_pref VARCHAR(50), 
	focus_threshold INTEGER, 
	preferred_environment_v2 VARCHAR(20), 
	study_mode VARCHAR(20), 
	daily_cognitive_budget FLOAT, 
	streak_count INTEGER, 
	xp_points INTEGER, 
	badge VARCHAR(50), 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	UNIQUE (email)
)

;


CREATE TABLE broadcast (
	id SERIAL NOT NULL, 
	admin_id INTEGER NOT NULL, 
	message TEXT NOT NULL, 
	target_level INTEGER NOT NULL, 
	timestamp TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(admin_id) REFERENCES "user" (id)
)

;


CREATE TABLE note (
	id SERIAL NOT NULL, 
	user_id INTEGER NOT NULL, 
	course_id INTEGER, 
	title VARCHAR(100) NOT NULL, 
	content TEXT NOT NULL, 
	last_edited TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id), 
	FOREIGN KEY(course_id) REFERENCES course (id)
)

;


CREATE TABLE schedule_block (
	id SERIAL NOT NULL, 
	user_id INTEGER NOT NULL, 
	course_id INTEGER, 
	day_of_week VARCHAR(10) NOT NULL, 
	date DATE, 
	start_time TIME WITHOUT TIME ZONE NOT NULL, 
	end_time TIME WITHOUT TIME ZONE NOT NULL, 
	block_type VARCHAR(50), 
	refinement_reason VARCHAR(100), 
	academic_citation VARCHAR(100), 
	logic_explanation VARCHAR(255), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id), 
	FOREIGN KEY(course_id) REFERENCES course (id)
)

;


CREATE TABLE study_session (
	id SERIAL NOT NULL, 
	user_id INTEGER NOT NULL, 
	course_id INTEGER NOT NULL, 
	session_goal VARCHAR(200), 
	vibe VARCHAR(50), 
	social_setting VARCHAR(50), 
	learning_mode VARCHAR(50), 
	medium VARCHAR(50), 
	environment VARCHAR(50), 
	distraction_count INTEGER, 
	duration_minutes INTEGER, 
	success_score FLOAT, 
	start_time TIMESTAMP WITHOUT TIME ZONE, 
	end_time TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id), 
	FOREIGN KEY(course_id) REFERENCES course (id)
)

;


CREATE TABLE system_alert (
	id SERIAL NOT NULL, 
	user_id INTEGER NOT NULL, 
	message TEXT NOT NULL, 
	is_read BOOLEAN, 
	timestamp TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id) ON DELETE CASCADE
)

;


CREATE TABLE user_courses (
	user_id INTEGER NOT NULL, 
	course_id INTEGER NOT NULL, 
	is_favorite BOOLEAN, 
	PRIMARY KEY (user_id, course_id), 
	FOREIGN KEY(user_id) REFERENCES "user" (id), 
	FOREIGN KEY(course_id) REFERENCES course (id)
)

;

